<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto SMD - CRUD de Produtos em Spring Boot</title>
</head>
<body>
    <h1>CRUD de Produtos em Spring Boot</h1>
    <h2>Para iniciar utilize a rota: <a href="http://ec2-18-231-104-121.sa-east-1.compute.amazonaws.com:8080/produtos">/produtos</a></h2>
    <h3>Nome dos integrantes do trabalho: </h3>
    <h3>Alexandre William Oliveira Coelho</h3>
    <h3>Aline Andria Davi de Souza</h3>
    <h3>Túlio Farias Fracaro</h3>
    <h3>Denise de Oliveira Melo</h3>
    <h3>Matheus Rodrigues Araujo Santos</h3>
    <h3>Tuanny Batista de Cristo</h3>
    <h3>Turma A - Matutino</h3>
</body>
</html>
