<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projeto SMD - CRUD de Produtos em Spring Boot</title>
</head>

<body>
	<h1>CRUD de Produtos em Spring Boot</h1>
	<hr />
	<h2>Todas as rotas do CRUD</h2>
	<ul>
		<li>Método GET em /produtos/todos, para trazer todos os produtos:
			<a href="http://ec2-18-224-110-89.us-east-2.compute.amazonaws.com:8080/produtos/todos">/produtos/todos</a>
		</li>
		<hr />
		<li>Método GET em /produtos/produto?id=numeroId, para trazer um
			produto específico: <a
			href="http://ec2-18-224-110-89.us-east-2.compute.amazonaws.com:8080/produtos/produto?id=id">/produtos/produto?id=numeroId</a>
		</li>
		<p>É necessário passar um número no lugar do 'numeroId'</p>
		<hr />
		<li>Método DELETE em /produtos/excluir, para remover um produto
			específico: <a href="http://ec2-18-224-110-89.us-east-2.compute.amazonaws.com:8080/produtos/excluir">/produtos/excluir</a>
		</li>
		<p>É necessário passar um JSON como o formato:</p>
		<p>
			<b>Ex: { "id" : 1 }</b>
		</p>
		<hr />
		<li>Método POST em /produtos/adicionar, para adicionar um
			produto: <a href="http://ec2-18-224-110-89.us-east-2.compute.amazonaws.com:8080/produtos/adicionar">/produtos/adicionar</a>
		</li>
		<p>É necessário passar um JSON como o formato: (descrição é
			opcional)</p>
		<p>
			<b>Ex: { "nome": "Banana", "descricao": "Fruta", "preco": 11.59 }</b>
		</p>
		<hr />
		<li>Método PUT em /produtos/atualizar, para atualizar produto
			específico: <a href="http://ec2-18-224-110-89.us-east-2.compute.amazonaws.com:8080/produtos/atualizar">/produtos/atualizar</a>
		</li>
		<p>É necessário passar um JSON com o formato: (descrição é
			opcional)</p>
		<p>
			<b>Ex: { "id": 2, "nome": "Amora", "descricao": "Fruta", "preco":
				11.59 }</b>
		</p>
	</ul>
</body>

</html>